.btn_commom {
  padding: 8px 34px 0;
  background: #3399cc;
  display: table;
  height: 34px;
  @include boderRadius(20px)
}
.UseCaseSingle-help{
        max-width: 1024px;
}
.UseCaseSingle-howItWorks.is-not-a-tree .UseCaseSingle-howItWorksItems .UseCaseSingle-howItWorksItem{
    background-size: 85px;
    background-position: 115px 0px;
}

.UseCaseSingle-howItWorksItemText {
    background-position: 70px;
}
.Blog-sidebarContent{
    h2{
        padding: 20px 0 ;
    }
}
@media screen and (min-width: 800px){
    .Navigation-level2 .is-active .Navigation-Dropdown{
            background-position: 190px 14px!important;
    }
}
.Blog h3{
    font-size: 24px;
}

.contactform{
  label{
  font-family: averta,Helvetica,"sans-serif";
    font-weight: 400;
    font-size: 16px;
    font-size: 1.6rem;
    letter-spacing: .5px;
    line-height: 26px;
    font-size: 14px;
    font-size: 1.4rem;
    color: #002744;
    margin-bottom: 8px;
    display: block;
  }
  .wpdevart-input-field {
    margin-bottom: 10px;
  }
  input, textarea{
    float: none!important;
    font-family: averta,Helvetica,"sans-serif";
    font-weight: 300;
    font-style: normal;
    transition: all .45s cubic-bezier(.23,1,.32,1) 0ms;
    appearance: none;
    border: 1px solid #b2bec6;
    background-color: #fff;
    padding: 0 15px;
    width: 100%;
    height: 40px;
    text-shadow: 0 0 0 #2e2e2e;
    -webkit-text-fill-color: #2e2e2e;

  }
  textarea{
  padding-top: 10px;
    min-height: 150px;
  }
  button[type="submit"]{
      margin-top: 20px;
  }
}