.btn_commom {
  padding: 8px 34px 0;
  background: #3399cc;
  display: table;
  height: 34px;
  @include boderRadius(20px)
}
.UseCaseSingle-help{
        max-width: 1024px;
}
.UseCaseSingle-howItWorks.is-not-a-tree .UseCaseSingle-howItWorksItems .UseCaseSingle-howItWorksItem{
    background-size: 85px;
    background-position: 115px 0px;
}

.UseCaseSingle-howItWorksItemText {
    background-position: 70px;
}
.Blog-sidebarContent{
    h2{
        padding: 20px 0 ;
    }
}
@media screen and (min-width: 800px){
    .Navigation-level2 .is-active .Navigation-Dropdown{
            background-position: 190px 14px!important;
    }
}
.Blog h3{
    font-size: 24px;
}
