.Products-item {
    padding-bottom: 20px;
    p{
        font-size: 14px!important;
    }
}
.Clients{
    padding-bottom: 25px;
}
.Stats {
  h5 {
    font-size: 13rem;
    color: #148dce;
  }
}
.InfoBox-inner {
  .InfoBox-content {
    p {
      margin-bottom: 20px;
    }
  }
}
