
/* ! PRIMARY STYLES */
html, body{width:100%;  }
body {
	font: $fontArial12;
}
a, a:focus{text-decoration: none;}
.clear{clear:both;}

.content700{width:700px;}
.content820{width:820px;}
.content890{width:890px;}
.content940{width:940px;}

.wrapper{
  margin: 0 auto;
  position: relative;
}
